body {
  position: relative;
  border: 2px skyblue solid;
  margin-top: 65px; 
  margin-left: 65px;/* Removes default margin for precise placement */
 
  }
  

.Mtek{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  z-index: 10;
  width: 100px;


}
.logo {
  position: fixed;
  top: 0;
  left: 0;
  color: red;
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 75;
  font-size: 25px;
}

.left-links{
  position: fixed;
  top: 60px;
  left: 10px;
  z-index: 20;
}
.left-links a {
  display: block;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
}
.left-links a img{
  width: 18px;
  margin-right: 5px;
  vertical-align: middle;

}
.left-links a:hover{
  background-color: #0056b3;
  text-decoration: underline;
}